@model UI.Models.Rdv

@{
    ViewData["Title"] = "Liste des Rendez-vous du Dr "+ @ViewData["NomPraticien"] ;
}

<h1>@ViewData["Title"]</h1>

<p>Filtre par Nom du Praticien: @ViewData["NomPraticien"]</p>

<form method="get" asp-action="Index">
    <label for="Annee">Année :</label>
    @Html.DropDownList("annee", (SelectList)ViewBag.Annees, new { onchange = "this.form.submit()" })

    <label for="Mois">Mois :</label>
    @Html.DropDownList("mois", (SelectList)ViewBag.Mois, new { onchange = "this.form.submit()" })
</form>
<p>Nombre de jours dans le mois sélectionné : @ViewBag.NombreDeJoursDansMois</p>


<table class="table">
    <thead>
        <tr>
          @*   <th>ID</th> *@
            <th>Nom du Praticien</th>
            <th>Date</th>
            @* <th>Patient</th> *@
            
        </tr>
    </thead>
    <tbody>
        @foreach (var rdv in ViewBag.rdvs)
        {
            <tr>
                @* <td>@rdv.Id</td> *@
                <td>@rdv.NomPraticien</td>
                <td>@rdv.Date.ToString("dddd, dd  MMMM yyyy")</td>
                @* <td>@rdv.NomPatient</td> *@
            </tr>
        }
    </tbody>
</table>
