@model UI.Models.Rdv

@{
    ViewData["Title"] = "Liste des Rendez-vous du Dr " + @ViewData["NomPraticien"] + @ViewData["PraticienId"];
}

<h1>@ViewData["Title"]</h1>

@* <p>Filtre par Nom du Praticien: @ViewData["NomPraticien"]</p> *@

<h3>
    <form method="get" asp-action="Index">
    <input type="hidden" name="PraticienId" value="@ViewData["PraticienId"]">
    <input type="hidden" name="NomPraticien" value="@ViewData["NomPraticien"]">
    <label for="Annee">Année :</label>
    @Html.DropDownList("annee", (SelectList)ViewBag.Annees, new { onchange = "this.form.submit()" })

    <label for="Mois">Mois :</label>
    @Html.DropDownList("mois", (SelectList)ViewBag.Mois, new { onchange = "this.form.submit()" })
    
    </form>
</h3>
@* @* <p>Nombre de jours dans le mois sélectionné : @ViewBag.NombreDeJoursDansMois</p>


<table class="table">
    <thead>
        <tr>
          @*   <th>ID</th> 
            <th>Nom du Praticien</th>
            <th>Date</th>
            @* <th>Patient</th> 
            
        </tr>
    </thead>
    <tbody>
        @foreach (var rdv in ViewBag.rdvs)
        {
            <tr>
                @* <td>@rdv.Id</td> 
                <td>@rdv.NomPraticien</td>
                <td>@rdv.Date.ToString("dddd, dd  MMMM yyyy")</td>
                @* <td>@rdv.NomPatient</td> 
            </tr>
        }
    </tbody>
  </table>*@
<h3>Jours disponibles :</h3>
<table class="table">
    <thead>
        <tr>
            <th>Jour</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jourDisponible in ViewBag.JoursDisponibles)
        {
           @*  if (jourDisponible >= DateTime.Now.Date)
            { *@
                <tr>
                    <td>@jourDisponible.ToString("dddd")</td> <!-- Affiche le nom du jour -->
                     <td>@jourDisponible.ToString("dd/MM/yyyy")</td> <!-- Affiche la date -->
                <td>
                        <a href="@Url.Action("Create", "Rdv", new { jourDisponible= @jourDisponible, praticienId = @ViewData["PraticienId"],nomPraticien=@ViewData["NomPraticien"] })" class="btn btn-primary">Prendre un rendez-vous</a>
                 
                </td>
             </tr>
             @* } *@
           
        }
        
    </tbody>
    @if (!string.IsNullOrEmpty(ViewBag.ConfirmationMessage))
    {
        <div class="alert alert-success">
            @ViewBag.ConfirmationMessage
        </div>
    }
</table>