@model UI.Models.Rdv

@{
    ViewData["Title"] = "Liste des Rendez-vous";
}

<h1>@ViewData["Title"]</h1>

<p>Filtre par Nom du Praticien: @ViewData["NomPraticien"]</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom du Praticien</th>
            <th>Date</th>
            <th>Patient</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var rdv in ViewBag.rdvs)
        {
            <tr>
                <td>@rdv.Id</td>
                <td>@rdv.NomPraticien</td>
                <td>@rdv.Date</td>
                <td>@rdv.NomPatient</td>
            </tr>
        }
    </tbody>
</table>
