@model UI.Models.Praticien

@{
    ViewData["Title"] = "Liste des Praticiens";
}

<h1>@ViewData["Title"]</h1>

    

<table class="table">
    <thead>
        <tr>
          @*   <th>ID</th> *@
            <th>Nom du Praticien</th>
            <th>Specialité</th>
          @*   <th>Action</th> <!-- Nouvelle colonne pour le bouton --> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var praticien in ViewBag.Praticiens)
        {
            <tr>
               @*  <td>@praticien.Id</td> *@
                <td>@praticien.NomPraticien</td>
                <td>@praticien.Specialite</td>
                <td>
                    <a href="@Url.Action("Create", "Rdv", new { praticienId = praticien.Id, nomPraticien = praticien.NomPraticien })" class="btn btn-primary">Prendre un rendez-vous</a>
                    <a href="@Url.Action("Index", "Rdv", new { nomPraticien = praticien.NomPraticien})" class="btn btn-primary">agenda</a>
                </td>
            </tr>
        }
    </tbody>
</table>
